<!DOCTYPE html>
<html>
<head>
    <title>Редактировать пользваотель</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Редактировать пользваотель</h1>
    <form action="/user/EditVideo" method="post">
        <label>ID пользователя</label><br>
        <input type="text" name="userId" /><br><br>
        <label>Имя пользваотеля</label><br>
        <input type="text" name="userfirstname" /><br><br>
        <label>Фамилия пользователя</label><br>
        <input type="text" name="userlastname" /><br><br>
        <label>Логин пользваотель</label><br>
        <input type="text" name="login" /><br><br>
        <label>Пароль пользваотель</label><br>
        <input type="text" name="password" /><br><br>
        <label>Роль пользваотель</label><br>
        <input type="text" name="rol" /><br><br>
        <input type="submit" value="Отправить" />
    </form>

</body>
</html>