<!DOCTYPE html>
<html>
<head>
    <title>Редактировать видео</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Редактировать видео</h1>
    <form action="/user/EditVideo" method="post">
        <label>Название видео</label><br>
        <input type="text" name="videoName" /><br><br>
        <label>ID видео</label><br>
        <input type="text" name="videoId" /><br><br>
        <label>Разрешение видео</label><br>
        <input type="text" name="permission" /><br><br>
        <input type="submit" value="Отправить" />
    </form>

</body>
</html>